/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


/* ---- typography ---- */

@font-face {
  font-family: 'digitek';
  src: url('./font/DIGITEK.TTF');
}

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

p {
  margin: 0;
}



/* ---- layout ---- */

#site-header {
  padding: 30px 0;
  color: white;
  background: #111;
}

#site-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

#site-main {
  margin-bottom: 60px;
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

section.testimonials {
  // ...
}

section.testimonials .button {
  margin-bottom: 10px;
}

canvas {
  border: 1px solid black;
  background-image: url('./images/skull2.jpg');
  background-position: 70% 90%;
}

.background {
  background-color: black;
}

main {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  background-color: black;
  align-items: center;
  color: white;
}

body {
  font-family: digitek;
  font-size: 2em;
  background-color: black;
  color: white;
  line-height: 10vw;
  text-shadow: 0 0 7vw white;
}

.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start-button {
  background-color:black;
  border: none;
  font-family: digitek;
  font-size: 1.2em;
  color: white;
  line-height: 10vw;
  text-shadow: 0 0 7vw white;
}

.lives {
  padding: 15px;
}